<?xml version="1.0" encoding="UTF-8"?>
<!-- This is the web.config file for the site your users should hit -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RutaHttpModule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <RutaHttpModule.Properties.Settings>
      <setting name="LoginHeader" serializeAs="String">
        <value>X-Forwarded-Login</value>
      </setting>
      <setting name="NameHeader" serializeAs="String">
        <value>X-Forwarded-Name</value>
      </setting>
      <setting name="EmailHeader" serializeAs="String">
        <value>X-Forwarded-Email</value>
      </setting>
      <setting name="GroupsHeader" serializeAs="String">
        <value>X-Forwarded-Groups</value>
      </setting>
      <setting name="DowncaseUsers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DowncaseGroups" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- For people migrating from the AD plugin, it would append @domain at the end of each user and group. Use this setting to
      append arbitrary data to the end of your usernames and groups -->
      <setting name="AppendString" serializeAs="String">
        <value />
      </setting>
      <!-- If your domain is big, setting these two options can speed things up dramatically -->
      <setting name="AdUserBaseDn" serializeAs="String">
        <value></value>
      </setting>
      <setting name="AdGroupBaseDn" serializeAs="String">
        <value></value>
      </setting>
      <!-- If a user agent begins with these strings, windows auth is bypassed.-->
      <setting name="PassThruAgents" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>sonar.scanner.app</string>
            <string>SonarQubeScanner</string>
          </ArrayOfString>
        </value>
      </setting>
    </RutaHttpModule.Properties.Settings>
  </applicationSettings>
  <system.diagnostics>
    <trace autoflush="true" />
    <sharedListeners>
      <add name="IisTraceListener" type="System.Web.IisTraceListener, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sharedListeners>
    <switches>
      <add name="DefaultSwitch" value="All" />
    </switches>
    <sources>
      <source name="RutaHttpModule" switchName="DefaultSwitch">
        <listeners>
          <add name="IisTraceListener" type="System.Web.IisTraceListener, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        </listeners>
      </source>
      <source name="SonarAuthPassthroughModule" switchName="DefaultSwitch">
        <listeners>
          <add name="IisTraceListener" type="System.Web.IisTraceListener, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{SERVER_NAME}:443/{R:1}" />
        </rule>
        <rule name="Reverse proxy to sonarqube on localhost" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://localhost:9000/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="false" />
    <security>
      <authentication>
        <anonymousAuthentication enabled="false" />
        <windowsAuthentication enabled="true" />
      </authentication>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="300000000" maxUrl="500000" maxQueryString="500000" />
      </requestFiltering>
    </security>
    <modules>
      <clear />
      <add name="IsapiFilterModule" type="" preCondition="" />
      <add name="ProtocolSupportModule" type="" preCondition="" />
      <add name="HttpRedirectionModule" type="" preCondition="" />
      <add name="StaticFileModule" type="" preCondition="" />
      <add name="HttpLoggingModule" /> 
      <add name="RewriteModule" type="" preCondition="" />
      <add name="ApplicationRequestRouting" type="" preCondition="" />
      <add name="SonarAuthPassthroughModule" type="RutaHttpModule.SonarAuthPassthroughModule" preCondition="runtimeVersionv4.0" />
      <add name="WindowsAuthenticationModule" type="" preCondition="" />
      <add name="RequestFilteringModule" type="" preCondition="" />
      <add name="RutaModule" type="RutaHttpModule.RutaModule" preCondition="runtimeVersionv4.0" />
      <add name="FailedRequestsTracingModule" type="" preCondition="" />
      <add name="IsapiModule" type="" preCondition="" />
      <add name="RoleManager" type="System.Web.Security.RoleManagerModule" preCondition="managedHandler" />
      <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" preCondition="managedHandler" />
      <add name="UrlMappingsModule" type="System.Web.UrlMappingsModule" preCondition="managedHandler" />
      <add name="ConfigurationValidationModule" type="" preCondition="" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="managedHandler,runtimeVersionv4.0" />
      <add name="ScriptModule-4.0" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler,runtimeVersionv4.0" />
    </modules>
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASPNET" areas="Module" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="401.3-999" />
        </add>
      </traceFailedRequests>
    </tracing> 
  </system.webServer>
  <system.web>
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    <httpRuntime maxUrlLength="500000" maxQueryStringLength="500000" />
  </system.web>
</configuration>