<?xml version="1.0" encoding="UTF-8"?>
<!-- This is the web.config file for the site your runners should hit. This one does not include authentication -->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{SERVER_NAME}:443/{R:1}" />
        </rule>
        <rule name="Reverse proxy to sonarqube on localhost" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://localhost:9000/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="false" />
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="false" />
      </authentication>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="300000000" maxUrl="500000" maxQueryString="500000" />
      </requestFiltering>
    </security>    
  </system.webServer>
  <system.web>
    <httpRuntime maxUrlLength="500000" maxQueryStringLength="500000" />
  </system.web>
</configuration>