<?xml version="1.0" encoding="UTF-8"?>
<!-- This is the web.config file for the site your users should hit -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RutaHttpModule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <RutaHttpModule.Properties.Settings>
      <setting name="LoginHeader" serializeAs="String">
        <value>X-Forwarded-Login</value>
      </setting>
      <setting name="NameHeader" serializeAs="String">
        <value>X-Forwarded-Name</value>
      </setting>
      <setting name="EmailHeader" serializeAs="String">
        <value>X-Forwarded-Email</value>
      </setting>
      <setting name="GroupsHeader" serializeAs="String">
        <value>X-Forwarded-Groups</value>
      </setting>
      <setting name="DowncaseUsers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DowncaseGroups" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- For people migrating from the AD plugin, it would append @domain at the end of each user and group. Use this setting to
      append arbitrary data to the end of your usernames and groups -->
      <setting name="AppendString" serializeAs="String">
        <value />
      </setting>
      <!-- If your domain is big, setting these two options can speed things up dramatically -->
      <setting name="AdUserBaseDn" serializeAs="String">
        <value></value>
      </setting>
      <setting name="AdGroupBaseDn" serializeAs="String">
        <value></value>
      </setting>
    </RutaHttpModule.Properties.Settings>
  </applicationSettings>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="RutaModule" switchValue="Critical, Error, Warning, ActivityTracing, Information, Verbose">
        <listeners>
          <add name="ConsoleTraceListener" />
          <add name="TextFileListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="ConsoleTraceListener" type="System.Diagnostics.ConsoleTraceListener" />
      <add name="TextFileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="tests.log" />
    </sharedListeners>
  </system.diagnostics>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{SERVER_NAME}:443/{R:1}" />
        </rule>
        <rule name="Reverse proxy to sonarqube on localhost" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://localhost:9000/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="false" />
    <security>
      <authentication>
        <anonymousAuthentication enabled="false" />
        <windowsAuthentication enabled="true" />
      </authentication>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="300000000" maxUrl="500000" maxQueryString="500000" />
      </requestFiltering>
    </security>
    <modules>
      <clear />
      <add name="IsapiFilterModule" type="" preCondition="" />
      <add name="IsapiModule" type="" preCondition="" />
      <add name="HttpLoggingModule" type="" preCondition="" />
      <add name="ProtocolSupportModule" type="" preCondition="" />
      <add name="WindowsAuthenticationModule" type="" preCondition="" />
      <add name="RequestFilteringModule" type="" preCondition="" />
      <add name="CustomErrorModule" type="" preCondition="" />
      <add name="RutaModule" type="RutaHttpModule.RutaModule" preCondition="managedHandler,runtimeVersionv4.0" />
      <add name="RewriteModule" type="" preCondition="" />
      <add name="ApplicationRequestRouting" type="" preCondition="" />
      <add name="HttpRedirectionModule" type="" preCondition="" />
      <add name="ConfigurationValidationModule" type="" preCondition="" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="managedHandler,runtimeVersionv4.0" />
    </modules>    
  </system.webServer>
  <system.web>
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    <httpRuntime maxUrlLength="500000" maxQueryStringLength="500000" />
  </system.web>
</configuration>