<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
        <rules>
            <clear />
            <rule name="Redirect to HTTPS" stopProcessing="true">
                <match url="(.*)" />
                <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add input="{HTTPS}" pattern="^OFF$" />
                </conditions>
                <action type="Redirect" url="https://{SERVER_NAME}:443/{R:1}" />
            </rule>
            <rule name="Reverse proxy to sonarqube on localhost" stopProcessing="true">
                <match url="(.*)" />
                <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                <action type="Rewrite" url="http://localhost:9000/{R:1}" />
            </rule>
        </rules>
    </rewrite>
    <directoryBrowse enabled="false" />
    <security>
      <authentication>
        <anonymousAuthentication enabled="false" />
        <windowsAuthentication enabled="true" />
      </authentication>
    </security>
    <modules>
      <clear />
      <add name="IsapiFilterModule" type="" preCondition="" />
      <add name="IsapiModule" type="" preCondition="" />
      <add name="HttpLoggingModule" type="" preCondition="" />
      <add name="ProtocolSupportModule" type="" preCondition="" />
      <add name="WindowsAuthenticationModule" type="" preCondition="" />
      <add name="RequestFilteringModule" type="" preCondition="" />
      <add name="CustomErrorModule" type="" preCondition="" />
      <add name="RutaModule" type="RutaHttpModule.RutaModule" preCondition="managedHandler,runtimeVersionv4.0" />
      <add name="RewriteModule" type="" preCondition="" />
      <add name="ApplicationRequestRouting" type="" preCondition="" />
      <add name="HttpRedirectionModule" type="" preCondition="" />
      <add name="ConfigurationValidationModule" type="" preCondition="" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="managedHandler,runtimeVersionv4.0" />
    </modules>
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,Rewrite,RequestRouting" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="401-999,405" />
        </add>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
  <system.web>
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
</configuration>
